<!doctype html>
<html class="no-js" lang="pt-br">
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script src="~/Content/js/loading-spinner.js"></script>
    <div class="breadcome-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcome-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="icon nalika-settings"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>Configuração</h2>
                                        <p>Configure o painel principal e os robôs<span class="bread-ntd"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="breadcome-list">
            <div class="row">
                <div class="single-product-pr">
                    <div class="col-lg-12">
                        <h4 style="color:white">Configurações de Robôs</h4>
                        <form id="formConfiguration">
                            <div class="row">
                                <div class="col-md-6 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <input type="number" required="" disabled="disabled" value="0" name="nmVotantes" id="nmVotantes" class="form-control">
                                        <span class="help-block small">Quantidade de votantes importada</span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" required="" value="" disabled="disabled" name="ultAlteracao" id="ultAlteracao" class="form-control">
                                        <span class="help-block small">Última alteração</span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <input type="number" required="" disabled="disabled" value="0" name="nmOnLine" id="nmOnLine" class="form-control">
                                        <span class="help-block small">Votantes de robôs online</span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <input type="number" placeholder="Informe a Quantidade Padrão de Navegadores" required="" min="1" name="cfgQtdNavegador" id="cfgQtdNavegador" class="form-control">
                                        <span class="help-block small">Quantidade de navegadores executando votos</span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Informe a Senha Padrão" required value="" name="cfgSenhaPadrao" id="cfgSenhaPadrao" class="form-control">
                                        <span class="help-block small">*Senha padrão dos usuários</span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Informe a Senha para Troca" required value="" name="cfgSenhaTroca" id="cfgSenhaTroca" class="form-control">
                                        <span class="help-block small">*Senha que será definida após a troca</span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Informe a URL do site de votação" required value="" name="cfgUrl" id="cfgUrl" class="form-control">
                                        <span class="help-block small">*URL Onde será feita a votação</span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <input type="number" min="1" placeholder="Informe a quantidade de Chapas" required="required" value="" name="cfgNumChapas" id="cfgNumChapas" class="form-control">
                                        <span class="help-block small">*Número de chapas da votação, Ex: de 1 a 5, o valor é 5</span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <input type="number" min="1" placeholder="Informe a quantidade de Votações" required="required" value="" name="cfgNumVotacoes" id="cfgNumVotacoes" class="form-control">
                                        <span class="help-block small">*Número de votações da eleição</span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <input type="checkbox" placeholder="Distribuição Automática" name="ckDistribuicaoAutomatica" id="ckDistribuicaoAutomatica" class="form-control" onclick="checkInput(this)">
                                        <span class="help-block small">Distribui os votantes automaticamente entre os robôs e ignora as configurações dos robôs, caso contrário irá distribuir pelas regionais informadas nos robôs</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-xs-12">
                                    <a id="btnSalvarConfiguracao" class="btn btn-default btn-block btn-primary" onclick="gravarConfiguracao()">Salvar Ajustes</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="divIniciar" class="container-fluid">
        <div class="breadcome-list">
            <div class="row">
                <div class="single-product-pr">
                    <div class="col-lg-12">
                        <h4 style="color:white">Iniciar Robô</h4>
                        <form id="formStart">
                            <div class="row">
                                <div class="col-md-6 col-sm-4 col-xs-12 col-sm-offset-3">
                                    <div class="form-group">
                                        <input type="password" placeholder="Informe a senha padrão" required="" min="1" name="cfgStartPassword" id="cfgStartPassword" class="form-control">
                                        <span class="help-block small">Senha definida como padrão dos votantes, esta ação                       desabilita as configurações</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-xs-12">
                                    <a class="btn btn-default btn-block btn-primary" onclick="iniciar()">Iniciar Robôs</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* CRIA EDITA Robô*@
    <div id="PrimaryModalblbgpro" class="modal modal-adminpro-general default-popup-PrimaryModal PrimaryModal-bgcolor fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content text-center" style="background: var(--main-bg-color);">
                <div class="modal-close-area modal-close-df">
                    <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                </div>
                <div class="modal-header">
                    <h3>Adicione ou Edite os Robôs</h3>
                </div>
                <div class="modal-body">
                    <form id="formModal">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Informe o Nome" required="" value="" name="txtNome" id="txtNome" class="form-control">
                                        <span class="help-block small">Nome do Robô</span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <input type="number" placeholder="Quantidade de navegadores" min="" required="" name="nmQtdNavegadores" id="nmQtdNavegadores" class="form-control">
                                        <span class="help-block small">Quantidade de navegadores executando votos, caso informado irá ignorar a quantidade padrão</span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <input type="number" placeholder="Votos em branco" min="0" required="" value="" name="nmQtdBranco" id="nmQtdBranco" class="form-control">
                                        <span class="help-block small">Quantidade de votantes em branco</span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <input type="number" placeholder="Votos nulos" min="0" required="" value="" name="nmQtdNulo" id="nmQtdNulo" class="form-control">
                                        <span class="help-block small">Quantidade de votantes em nulo</span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <input type="number" placeholder="Votos em chapa" min="0" required="" value="" name="nmQtdVoto" id="nmQtdVoto" class="form-control">
                                        <span class="help-block small">Quantidade de votantes em chapas</span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <input type="number" placeholder="Chapa" min="0" required="" value="" name="nmChapaVotar" id="nmChapaVotar" class="form-control">
                                        <span class="help-block small">Chapa para ser votada</span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <input type="number" placeholder="Eleição" min="0" required="" value="" name="nmRegional" id="nmRegional" class="form-control">
                                        <span class="help-block small">Eleição onde o robô irá votar</span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="UF" min="0" required="" max="2" maxlength="2" name="txtUF" id="txtUF" class="form-control">
                                        <span class="help-block small">UF regional onde o robô irá votar</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-xs-12">
                            <button class="btn btn-default btn-block btn-primary" id="btnModal" onclick="addRobo()">Salvar Ajustes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* GRID ROBÔ *@
    <div class="product-status mg-b-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap">
                        <h4>Robôs</h4>
                        <div id="btnAddRobo" class="add-product">
                            <a data-toggle="modal" data-target="#PrimaryModalblbgpro">Adicionar Robô</a>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Nome</th>
                                    <th>Navegadores</th>
                                    <th>Qtd Brancos</th>
                                    <th>Qtd Nulos</th>
                                    <th>Qtd Votos</th>
                                    <th>Chapa</th>
                                    <th>Eleição</th>
                                    <th>UF</th>
                                    <th>Status</th>
                                    <th>Atualizado</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/View JS/Configuracao.js"></script>

    <link href="~/Content/css/custom.css" rel="stylesheet" />
</body>
</html>
